body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  background: #cfd8dc;
  padding: 10px;
}

nav a {
  
  color: black;
  font-family:'Source Code Pro';
  display:inline-block;
  
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  margin-left: 1%;    
  text-align: center;

}


li {
  text-align: center;
  list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0;
}
.img {
  max-width: 1000px;
  align-items: center;
  
}
.Hello{
  margin-left: 90px;
}
.detail{
  color:blueviolet;
  text-align: center;
}

#detimage {
  height: 300px;;
  width: 400px;
  margin-left: auto
}



